# Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Environnement virtuel
venv/
__venv__/

# Node
node_modules/

# React build
build/
dist/
.DS_Store

# Editor directories and files
.idea/
.vscode/

# SonarQube
.scannerwork
sonar-project.properties